<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>InstaCram - Welcome</title>
</head>

<body>
<h1>
{{abcd}}</br>
{{efg}}

</h1>
 <div  align="right">
<form id="form1" name="form1" method="post" action="">
  <p>
 <img src="media/logo.png" alt="sdf" name="hj" width="215" height="98" id="hj"  align="left"/>
    <label for="user_name">Username</label>
    
    <input type="text" name="user_name" id="user_name" tabindex="1" />
    </p>
  <p>
    <label for="password">Password</label>
    <input type="text" name="password" id="password" tabindex="2" />
  </p>
  <p>
    <form  method="link" action="courses.html"> <input type="button" name="login" id="login" value="Log In" tabindex="3" onclick="courses.html" /> </form>
    &nbsp; or <a href="signup.html" title="Sign Up" target="_new">Sign up Here</a></p>
  
</form>
</div>

<hr />
<div  align="center">
<p><img src="media/notes.jpeg" alt="notes" name="Notes" width="512" height="391" id="Notes"  align="middle"/></p>
<p>&nbsp; </p>
<p>5 Courses registered so far!</p>
</div>
</body>
</html>
