<html>
<head>
<title>LoginPage</title>
</head>

 <h2>BoardShare</h2>
 <p>
  {{error}}
 </p>
 <form name="login" action="{% url app_boardShare.views.boardShare_main %}" method="post">{% csrf_token %}
 <table>
 <tr>
 <td>Username: <input type="text" name="user"></td>
 </tr>
 <tr>
 <td>Password: <input type="password" name="pwd"></td>
 </tr>
 <tr>
 <td><input type="submit" value="Submit">
</form> or <a href="{% url app_boardShare.views.register_new_user %}">CLICK HERE TO REGISTER!</a></td>
 </tr>
 </table>

</html>