<html>
<head>
<title>ResetPasswordPage</title>
</head>

<body>
<h2>Reset Password</h2>
 <form action="ResetPasswordPage">
    <p>
	First Name<input name="FirstName" type="text"  /><br>
    Last Name<input name="LastName" type="text" /><br>
	User Name<input name="UserName" type="text"  /><br>
	</p>
	<p>
	Email Address<input name="EmailAddress" type="text"  /><br>
	Confrim Email Address<input name="ConfirmEmail" type="text" /><br>
    </p>
	<p>
	Password<input name="Password" type="text" /><br>
    Confirm Password<input name="ConfirmPassword" type="text" /><br>
	</p>
	<p><input name="Register" type="submit" value="Register"/></p>
 </table>
 </form>
</body>
</html>