<html>
<head>
<title>PersonalPage</title>
<style type="text/css">
*{
	margin:0;
	padding:0;
}
					
					a.dropdown{
						text-decoration:none;
						position: relative;
						display: inline-block;
						color: #524D4D;
					}
					
					ul{
						list-style-type:none;
						}
						
					ul li.dropdown {
						float:left;
						width:88px;
						height:38px;
						line-height:38px;
						background:yellow;
						text-align:center;
						}
					ul li ul li.dropdown{
						height:38px;
						background:orange;
						}
					ul li a.dropdown{
						width:90px;
						height:38px;
						}
					
					ul li a:hover{
						background:orange;
						}
						
					ul li ul{
						visibility:hidden;
						}
					ul li:hover ul{
						visibility:visible;
						}
					.pin {
					  width:192px; padding:10px; border:5px solid gray; margin:10px; top: 0px; float:left;
					}
					.board{
					  width:350px;  padding:10px; border:5px solid gray; margin:10px; top: 0px; float:left;		
					}					  
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="/static/jquery.masonry.min.js"></script>
<script>
$(window).load(function(){
  $('#ShowPins').masonry({
    // options
    itemSelector : '.pin',
  });
  $('#ShowBoards').masonry({
    // options
    itemSelector : '.board',
  });
});
</script>
</head>

<body id="PersonalPage">
	
	<div class="Liquid Container" id="Header" style="	position:absolute;
														top: 0;
														right: 0;
														left: 0;
														height: 38px;
														background-color: yellow;
														position:fixed; z-index:105; ">
		<ul class="Header" id="Navigation" style="position: relative; float: right; z-index: 105; background-color: yellow;">
			<li class="dropdown">
				<a class="dropdown">Add</a>
				<ul class="dropdown">
					<li class="dropdown">
						<a href="{% url app_boardShare.views.add_new_pin %}" class="dropdown">Add Pins<a>
					</li class="dropdown">
					<li class="dropdown">
						<a href="{% url app_boardShare.views.upload_new_pin %}" class="dropdown">Upload Pins<a>
					</li>
					<li class="dropdown">
						<a href="{% url app_boardShare.views.add_new_board %}" class="dropdown">New Board<a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a class="dropdown">{{ user.username }}</a>
				<ul class="dropdown">
					<li class="dropdown">
						<a href="{% url app_boardShare.views.my_boards %}" class="dropdown">Boards<a>
					</li>
					<li class="dropdown">
						<a href="{% url app_boardShare.views.my_pins %}" class="dropdown">Pins<a>
					</li>
					<li class="dropdown">
						<a href="{% url app_boardShare.views.change_password %}" class="dropdown">Password<a>
					</li>
					<li class="dropdown">
						<a href="{% url app_boardShare.views.modify_settings %}" class="dropdown">Profile<a>
					</li>
				</ul>
			</li>
		</ul>
		
		<a href="{% url app_boardShare.views.all_pins %}"  class="BoardShare" style="display: block;
			position: absolute;
			width: 100px;
			height: 26px;
			top: 9px;
			left: 50%;
			margin-left: -25px;">Board Share</a>	

		<div id="SearchDiv" style="position:absolute; left:15px; top:10px;"> 
			<form action="{% url app_boardShare.views.search_pins %}" method="get" name="searchbar" id="searchbar" class="text">
				<input type="text" id="query" name="query" size="27" value="" placeholder="Search" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
				<a id="query_button" onclick="document.searchbar.submit()"  class="lg"><img src="http://passets-ec.pinterest.com/images/search.gif" alt=""></a>
			</form>
		</div>
	
	</div>
	
	<div class="ProfileHeader" style="position:fixed; z-index:100;  left:0px; top:38px; height:200px; width:100%; background-color: green;">
		<div class="Thumbnail" style="position:absolute; left:50px; top:25px;">
			<img src="{{userdetails.data_local}}" style="width: 150px; height: 150px;" ></img><br>
		</div>
		<div class="Content" style="position:absolute; left:300px; top:25px;">
			<h1 style="color:white;">Hello {{ user.username }} !</h1><br>
			<p><h5 style="color:white;">{{num_pins}} pins</h5></p>
			<p><h5 style="color:white;">{{num_boards}} boards</h5></p><br>
			<a href="{% url app_boardShare.views.modify_settings %}" class="edit profile"  style="color:white;">Edit Profile</a>
		</div>
		<div class="Content" style="position:absolute; left:600px; top:25px;">
			<p class="user description">
			<h3  style="color:white;">About me </h3><br>
			{% if userdetails.about_me %}
			<h2 style="color:white;">{{userdetails.about_me}}</h2>
			{% else%}
			<h2 style="color:white;">Nothing was left here...</h2>
			{% endif%}
			</p><br>
		</div>
	</div>

	
	<div class="SwitchBar" 	style="position:fixed; z-index:100; left: 50%; margin-left: -75px; top:220px; z-index:1000">
		<ul class="dropdown">
			<li class="dropdown">
				<a href="{% url app_boardShare.views.my_boards %}" class="dropdown">Boards</a>
			</li>
			<li class="dropdown">
				<a href="{% url app_boardShare.views.my_pins %}" class="dropdown">Pins</a>
			</li>
		</ul>
	</div>
	
	{% if boardContent %}
		<div class="ShowBoards" style="position:absolute; left:32px; top:258px; ">
				{% if boards %}
			    	{% for board in boards %}
					<div class="board">
						<li>Summary of board title of <a  style="color:gray;">{{ board.title }} </a>by <a  style="color:gray;">{{board.user}}</a></li><br>
							<ul class="sortable">
								<p >Board description:</p><br><p style="color:gray;">{{board.description}}</p><br>
								<div class="BoardHolder">
								<p>Pins included:</p>
								{% for pin,board_n in relations.items %}
										{% if board.id == board_n.id %}
											<p  style="color:gray;">
											{% if pin.data_type == "image" %}
								<img src="{{pin.data_local}}" class="PinImageImg" style="height:18px; width: 18px;">
								{% elif pin.data_type == "uploaded_image" %}
								<img src="/../static/{{pin.data_local}}" class="PinImageImg" style="height:18px; width: 18px;">
								{% else %}
								<iframe style="width: 18px; height:18px;" src="{{pin.data_local}}" frameborder="0" allowfullscreen></iframe>
								{% endif %}
											{{pin.data_text}}<br></p>
										{% endif %}
								{% endfor %}
								</div>
								<br><p>{{board.user.name}} Created on topic of 	<a style="color:gray;">{{board.category}}</a></p>
							</ul>
					</div>
    				{% endfor %}
    			{% else %}    		
				You have not created any boards
		</div>	
	{% endif %}
	{% elif pinContent %}
		<div id="ShowPins" style="position:absolute; left:32px; top:258px; ">
			{% if pins %}
				{% for pin in pins %}
				<div class="pin" >
					<div class="PinHolder">
							<a class="PinImage">
								{% if pin.data_type == "image" %}
								<img src="{{pin.data_local}}" class="PinImageImg" style="width: 180px;">
								{% elif pin.data_type == "uploaded_image" %}
								<img src="/../static/{{pin.data_local}}" class="PinImageImg" style="width: 180px;">
								{% else %}
								<iframe style="width: 180px; height:200px;" src="{{pin.data_local}}" frameborder="0" allowfullscreen></iframe>
								{% endif %}
							</a>
					</div>
					
					<p class="description">{{pin.data_text}}</p>
					
					<div class="PinAttribution"><a  style="color:gray;">{{pin.user}}</a> on <a  style="color:gray;">{{pin.board_title}} </a></div>
						
				</div>
				{% endfor %}
			{% else %}			
				You have not created any pins yet 
			{% endif %}
			</p>
		</div>				
    {% endif %}
	
</body>
</html>
